<!DOCTYPE html>
<html ng-app="HiLo">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hi-Lo Guessing Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="style/sweetalert.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body>
    <header>
      <h1>Hi-Lo</h1>
      <h2>A guessing game</h2>
    </header>
    <div ng-controller="GameCtrl" class="container">
      <section id="nav">
        <button ng-click="newGame()" id="newGame">New Game</button>
        <div>
          <h3 ng-click="rules = !rules">Rules</h3>
        </div>
      </section>
      <section ng-show="rules" id="rules">
        <p>To play, the dealer will draw a card from the deck. Your goal is to guess if the next card will be higher or lower than that card.</p>
        <ul>
          <li>Guess correctly 3 times in a row and you can choose to pass play to the other player or keep guessing.</li>
          <li>If you guess incorrectly you get a point for each card in the discard pile, then those cards are cleared.</li>
          <li>Winner is the person with the fewest points when the cards run out.</li>
        </ul>
        <p>Notes:</p>
        <ul>
          <li>Aces are low (they count as "1").</li>
          <li>Drawing the same card as the previous card doesn't count as a correct or incorrect guess, but does add one point to the discard pile.</li>
        </ul>
        <hr />
      </section>
      <section id="game">
        <div id="score">
          <div ng-class="{ turn : player1 }" class="playerScore">
            <p>Player 1:</p>
            <div id="player1">{{ score1 }}</div>
          </div>
          <div ng-class="{ turn : !player1 }" class="playerScore">
            <p>Player 2:</p>
            <div id="player2">{{ score2 }}</div>
          </div>
        </div>
        <div id="cards">
          <div id="current">
            <img ng-src="{{ currentCard.img }}" />
          </div>
          <div id="pile">
            <p ng-show="correctGuesses" class="lastCard">Previous Card:</p>
            <div ng-show="correctGuesses" class="lastCard" id="previous">
              <img ng-src="{{ lastCard.img }}" />
            </div>
            <p class="lastCard">Discard: <span id="discard">{{ discard }}</span></p>
            <p ng-show="remainingCards">Remaining: <span id="remaining">{{ remainingCards }}</span></p>
            <h3 ng-hide="remainingCards" id="gameOver">Game Over</h3>
          </div>
        </div>
        <div id="answer"><p>{{ answer }}</p></div>
      </section>
      <section ng-show="remainingCards" id="controls">
        <div id="buttons">
          <button ng-click="drawCard('higher')" class="next" id="higher">Higher</button>
          <button ng-click="pass()" ng-show="correctGuesses >= 3" class="next" id="pass">Pass</button>
          <button ng-click="drawCard('lower')" class="next" id="lower">Lower</button>
        </div>
      </section>
    </div>
  </body>
</html>